.s {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

#j{
    font-family: Montserrat;
    text-align: center;
    font-size: 20px;
}